<div class="row">
  <div class="col-xs-4 col-xs-offset-4">
    <h1>Sign Up</h1>

    <form action="/users" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <div class="form-group">
          <label for="email-input">Email</label>
          <input class="form-control" name="user[email]" type="text" id="email-input">
        </div>
        <div class="form-group">
          <label for="password-input">Password</label>
          <input class="form-control" name="user[password]" type="password" id="password-input">
        </div>
      <input type="submit" value="Submit" class="btn btn-primary">
    </form>
    <br>
    <a href="/session/new">Back to login</a>
  </div>
</div>