/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

@import "bootstrap";
@import "font-awesome";

.ui-sortable-helper {
  transform: rotate(5deg);
  box-shadow: 7px 5px 15px #888888;
}

.cards {
  min-height: 25px;
}

.list {
  width: 220px;
  margin: 5px;
  background-color: ghostwhite;
}

.list-new {
  margin: 5px;
}

.card {
  width: 185px;
  margin: 2px;
}


.board-header {
  width: 300px;
}

.list {
  float: left;
}

.delete-board, .delete-card, .delete-list {
  float: right;
}
