<h2>Create Board</h2>
<div class="row">
  <div class="col-xs-4">
    <form id="create-board">
      <div class="form-group">
        <label for="board-title-input">Title</label>
        <input class="form-control" type="text" name="board[title]" id="board-title-input">
      </div>
      <button class="btn btn-success">Submit</button>
    </form>
  </div>
</div>
