<h2><%= board.get('title') %></h2>
<button class="delete-board">Delete Board</button>

<h3>Lists</h3>
<ul class="lists"></ul>

<div class="list-new"></div>

<div class="member-new"></div>

<a href="#/">Back to index</a>