<h2><%= board.get('title') %></h2>
<button class="delete-board">Delete Board</button>
<div class="row">
  <h3>Lists</h3>
  <div class="lists list-group"></div>
</div>

<div class="row">
  <div class="list-new"></div>
  <div class="member-new"></div>
</div>
<a href="#/">Back to index</a>