<h2>Create Board</h2>

<form id="create-board">
  <label for="board-title-input">Title</label>
  <input type="text" name="board[title]" id="board-title-input">
  
  <button>Submit</button>
</form>

<a href="#/">Back to index</a>