<button class="btn btn-danger btn-sm delete-board">Delete Board</button>
<h2 class="text-center"><%= board.get('title') %></h2>
<div class="list-new text-center"></div>
<div class="row">
  <div class="lists list-group"></div>
</div>

<!-- <div class="row">
  <div class="member-new"></div>
</div> -->
<a href="#/">Back to index</a>