<form class='new-card-form' role="form">
  <input type="hidden" name="card[list_id]" value="<%= list.get("id") %>">
  
  <div class="form-group">
    <label for="card-description-input">Description</label>
    <textarea class="form-control description-input" name="card[title]" id="card-description-input"></textarea>
  </div>
  
</form>