<div class="form-group">
  <label for="card-description-input">New card</label>
  <textarea autofocus="true" class="form-control description-input" name="card[title]" id="card-description-input"></textarea>
</div>