<form>
  <input type="hidden" name="list[board_id]" value="<%= board.get("id") %>">
  <input type="hidden" name= >
  
  <input type="text" name="list[title]" id="list-title-input">
  
  <button class="btn btn-default btn-sm">Add list</button>
</form>