<div class="row">
  <div class="col-xs-3 col-xs-offset-4">
<form>
  <input type="hidden" name="list[board_id]" value="<%= board.get("id") %>">
    <input class="form-control" type="text" name="list[title]" id="list-title-input">
    <button class="btn btn-default btn-sm add-list">Add list</button>
</form>
</div>
</div>