<h3>New List</h3>

<form>
  <input type="hidden" name="list[board_id]" value="<%= board.escape("id") %>">
  
  <label for="list-title-input">Title</label>
  <input type="text" name="list[title]" id="list-title-input">
  
  <label for="list-ord-input">Rank</label>
  <input type="number" step="0.1" name="list[ord]">
  
  <button>Submit</button>
</form>