<span class="glyphicon glyphicon-remove delete-list "></span>
<h4><%= list.escape("title") %></h4>

<div class="cards list-group"></div>
<form class="card-new list-group-item  new-card-form hidden"></form>
<button class="btn btn-info btn-xs new-card-button">Add card</button>