<nav class="navbar navbar-inverse" role="navigation">
<div class="container container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand pull-left" href="#">Trellito</a>
  </div>

  <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
      <% if signed_in? %>
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.email %> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#/">My boards</a></li>
            <li><a href="#/boards/new">Create board</a></li>
          </ul>
        </li>

        <li><%= button_to "Sign out", session_url, method: :delete, class: "btn btn-danger navbar-btn" %></li>
      <% end %>
    </div>
</div>
</nav>



<% if flash[:errors] %>
<div class="alert alert-warning alert-dismissible" role="alert">
   <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
<%= flash[:errors].join("<br>") %>
</div>
<% end %>
